/* CSS grid classes here, AND any layout-related media queries */

.container {
  max-width: 800px;
  margin: 0 auto;

  @media (width <=500px) {
    width: 85%;
  }
}

.row {
  display: flex;
}

.row-end {
  display: flex;
  flex-direction: row-reverse;
}

.overlay {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
}

.column-full {
  flex-basis: 100%;
}
