/* CSS grid classes here, AND any layout-related media queries */

/* after lunch change the media queries so they're mobile FIRST then account for desktop */

/* instead of width <=500px change to >=500px and then the changes you want to make */

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 85%;
}

.row {
  display: flex;
}

.row-end {
  display: flex;
  flex-direction: row-reverse;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.column-full {
  flex-basis: 100%;
}
