/* most of your CSS that is not related to layout or resetting styles here */
.button {
  color: white;
  background-color: #293184;
  border-radius: 4px;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header {
  color: white;
  background-color: #293184;
  font-size: 1.2rem;

  /* font-family: Arial, Helvetica, sans-serif; */

  /* @media font-size { */
}

h1 {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;

  /* font-weight: <weight>; */
  font-style: normal;
}

input {
  width: 18rem;
  margin-bottom: 1.5rem;
  height: 1.7rem;
  border-radius: 0.2rem;
}

label,
h2 {
  color: #293184;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* the body element here below will change to another type of styling */

/* you will change this to a div element and apply the proper formatting to it so it acts as a background img */

body {
  background: url('/images/sofi_stadium.jpeg') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (width <=500px) {
    background: url('/images/duaLipa.jpg') no-repeat center;
  }
}
