/* most of your CSS that is not related to layout or resetting styles here */
.hidden {
  display: none !important;
}

@media (width <= 500px) {
  .mobileHidden {
    display: none;
  }
}

#results,
.details {
  background-color: white;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.float-right {
  float: right;
  max-width: 200px;
  overflow-wrap: break-word;
  text-align: right;
}

span {
  font-size: 1.1rem;
}

.upcoming-events {
  display: block;
  text-align: center;
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;

  @media (width >= 500px) {
    font-size: 1.7rem;
    font-weight: 400;
  }
}

.table-headers {
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;

  @media (width >= 500px) {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

p {
  display: flex;
  justify-content: space-around;
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;

  @media (width >= 500px) {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

.table-rows,
.details {
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
}

.button,
.home-button,
.favorites-button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #293184;
  border-radius: 4px;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.view-button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #293184;
  border-radius: 4px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

@media (width >= 500px) {
  .view-button:hover {
    transition: all 0.5s ease;
    transform: scale(1.2);
    background-color: peachpuff;
    color: black;
  }

  .button:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    background-color: #6a27e0;
    color: white;
    font-size: 16px;
  }

  .home-button:hover {
    transition: all 0.5s ease;
    transform: scale(1.2);
    background-color: limegreen;
    color: black;
    font-size: 16px;
  }

  .favorites-button:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    background-color: #cc4ba5;
    color: whitesmoke;

    /* font-size: 16px; */
  }
}

header {
  color: white;
  background-color: #293184;
  font-size: 1rem;

  @media (width >= 500px) {
    font-size: 1.2rem;
  }
}

h1 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-style: normal;

  @media (width >= 500px) {
    font-weight: 400;
  }
}

a {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
  padding-bottom: 0.5rem;

  @media (width >= 500px) {
    font-weight: 300;
    font-size: 1.2rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  white-space: normal;
}

td {
  max-width: 200px;
  overflow-wrap: break-word;
  font-size: 1rem;

  @media (width >= 500px) {
    font-size: 1.3rem;
  }
}

input {
  width: 22rem;
  margin-bottom: 1.5rem;
  height: 2rem;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  margin-left: 8%;
  margin-right: 8%;
}

label {
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  padding-bottom: 0.5rem;
  margin-left: 10%;
  margin-left: 8%;
  margin-right: 8%;
}

h2 {
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-left: 3%;

  @media (width >= 500px) {
    font-size: 1.7rem;
    margin-left: 0%;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

body {
  background: url('/images/duaLipa.jpg') no-repeat center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (width >= 500px) {
    background: url('/images/sofi_stadium.jpeg') no-repeat center center/cover;
  }
}
