/* most of your CSS that is not related to layout or resetting styles here */
.button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #293184;
  border-radius: 4px;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

header {
  color: white;
  background-color: #293184;
  font-size: 1.2rem;

  @media (width <= 500px) {
    font-size: large;
  }
}

h1 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  cursor: pointer;
}

input {
  width: 22rem;
  margin-bottom: 1.5rem;
  height: 2rem;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  margin-left: 10%;

  @media (width <=500px) {
    margin-left: 8%;
    margin-right: 8%;
  }
}

label {
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  padding-bottom: 0.5rem;
  margin-left: 10%;

  @media (width <=500px) {
    margin-left: 8%;
    margin-right: 8%;
  }
}

h2 {
  color: #293184;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;

  @media (width <=500px) {
    font-size: large;
    margin-left: 3%;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

body {
  background: url('/images/sofi_stadium.jpeg') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (width <=500px) {
    background: url('/images/duaLipa.jpg') no-repeat center;
  }
}
